{% extends "base/base.html" %}
{% block extra_head %}
<meta name="keywords" content="{{ market_item.name }}, {{ market_item.type }}">
<meta name="description" content="{{ market_item.descriptions }}">
<meta property="og:title" content="{{ market_item }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{{ market_item.descriptions }}" />
<meta property="og:image" content="{{ image_url }}" />
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col mt-2">
                 <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'market:market_list' %}">Market List</a></li>
                    <li class="breadcrumb-item"><a href="{{ market_item.market.get_absolute_url }}">{{ market_item.market }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
                  </ol>
                </nav>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <h1 class="text-center">{{ market_item.name }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-end">
                <img src="{{ market_item.image.url }}" alt="{{ market_item.name }}" class="img-fluid rounded" style="max-height: 65vh">
            </div>
            <div class="col-md-6">
                <a href="{{ market_item.get_absolute_update_url }}" class="btn btn-sm btn-outline-secondary my-3"><i class="bi bi-pencil"></i>  Edit</a>
                <div class="card">
                      <div class="card-header">
                          <span class="lead">{{ market_item.name }} Details</span>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="bi bi-tag"></i> <small> Price</small> <br> {{ market_item.price }}</li>
                        <li class="list-group-item"><i class="bi bi-boxes"></i> <small>Quantity</small> <br> {{ market_item.quantity }}</li>
                        <li class="list-group-item"><i class="bi bi-calendar3"></i> <small>Last Update</small> <br> {{ market_item.modified }}</li>
                      </ul>
                    <div class="card-footer">
                        <small>Market</small> <br>
                        <span>{{ market_item.market }}</span>
                    </div>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <hr>
                <p>{{ market_item.descriptions }}</p>
            </div>
        </div>

    </div>
{% endblock %}