{% extends 'base/base.html' %}
{% load i18n static %}
{% block  extra_head %}
    <script src="{% static 'vendor/htmx/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/jquery/jquery-ui-1.13.2/jquery-ui.css' %}">
    <script src="{% static 'vendor/jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery-ui-1.13.2/jquery-ui.js' %}"></script>
    <style>
        .htmx-indicator {
            display: none;
        }

        .htmx-request .htmx-indicator {
            display: inline;
        }

        .htmx-request.htmx-indicator {
            display: inline;
        }
    </style>

     <script>
  $( function() {
    let availableTags = [];
      $.ajax(
          {
              url: '/market/api/markets/',
              success: function (response) {
                  for (let i = 0; i < response.length; i++) {
                      availableTags.push(response[i].town)
                  }
                  console.log(availableTags)
              }
          }
    );
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto my-5">
                <form method="get" class="p-3 bg-light-subtle rounded">
                    <h3 class="text-center">{% translate 'Discover Markets' %}</h3>
                    <input hx-get="{% url 'market:market_list-query' %}" name="q" hx-trigger="keyup changed delay:500ms"
                           hx-target="#marketlist" title="{% translate 'Search Markets' %}" type="search"
                           placeholder="{% translate 'Search by name, products' %}"
                           class="w-100 form-control-color form-control" hx-indicator="loadindicator">
                    <p class="lead mt-5">Filter</p>
                    <ul title="Filter Market and Market Item" class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" aria-current="page" id="market" href="#" data-bs-toggle="tab"
                               data-bs-target="market">Markets</a>
                        </li>
                        <li class="nav-item" role="presentation" id="marketitem">
                            <a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="marketitem">Market Items</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="market-tab-pane" role="tabpanel"
                             aria-labelledby="market-tab" tabindex="0">

<div class="mb-2 ui-widget">
  <label for="tags" class="form-label">Tags: </label>
  <input id="tags" class="form-control">
</div>
                        </div>
                        <div class="tab-pane fade" id="marketitem-tab-pane" role="tabpanel"
                             aria-labelledby="marketitem-tab" tabindex="0">

                        </div>

                    </div>


                </form>
            </div>
        </div>

        <div class="row htmx-indicator" id="loadindicator">
            <div class="col">
                <span>
                    <i class="spinner-border spinner-border-sm"></i>

                    loading ...
                </span>
            </div>
        </div>
    </div>


    <div class="container" id="marketlist">
        <div class="row mb-5">
            {% for market in market_list %}
                <div class="col-11 mx-auto mx-md-0 col-md-6 col-lg-4 space">
                    <div class="card my-md-4 mb-3 mb-lg-0">
                        <img src="{{ market.image.url }}" class="card-img-top" alt="{{ market.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ market.name }}</h5>
                            <p class="card-text">{{ market.description }}</p>
                            <a href="{{ market.get_absolute_url }}" class="btn btn-outline-primary">view</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">Last updated {{ market.date_modified|timesince }}
                                ago</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col">
                <a href="{% url 'market:market_create' %}" class="btn btn-outline-primary">Add Market</a>
            </div>
        </div>
    </div>
{% endblock %}