{% extends 'base/base.html' %}
{% block extra_head %}
<meta name="keywords" content="Market, Ghana, Market Days">
<meta name="description" content="Market list and summaries">
    <style>
        #mainImg {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            max-height: 65vh;
        }
    </style>
{% endblock %}
{% block body %}

    <img id="mainImg" src="{{ market.image.url }}" alt="{{ market.name }}" class="img-fluid">
    <div class="container">
        <div class="row mb-5" style="margin-top: -5rem">
            <div class="col-auto col-lg-6 mx-auto p-3 bg-light-subtle rounded text-center"><span>{{ market }}</span></div>
        </div>

    </div>

    <div class="container">

        <div class="row mb-5">
            <div class="col">
                <div class="card-group">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><small class="text-muted">Name: </small> {{ market.name }}</li>
                            {% if market.type %}<li class="list-group-item"><small class="text-muted">Type: </small> {{ market.type }}</li>{% endif %}
                            <li class="list-group-item"><small class="text-muted">Town: </small> {{ market.town }}</li>
                            <li class="list-group-item"><small class="text-muted">City: </small> {{ market.city }}</li>
                            <li class="list-group-item"><small class="text-muted">District: </small> {{ market.district }}</li>
                            <li class="list-group-item"><small class="text-muted">Region: </small> {{ market.region }}</li>
                            <li class="list-group-item"><small class="text-muted">Country: </small> {{ market.country }}</li>
                            <li class="list-group-item">
                                 <small class="text-muted">Market Queen: </small>
                                <span>{{ market.market_queen|default:"N/A" }}</span>
                            </li>
                        </ul>
                        <div class="card-footer d-flex flex-column flex-fill">
                            <span>Update at {{ market.date_modified }} </span>
                            <span>Created at {{ market.date_created }}</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="lead">Description</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ market.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center bg-body-secondary rounded p-2">
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'market:market_list' %}">Market List</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ market }}</li>
                      </ol>
                    </nav>
                    <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" title="Actions" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-three-dots-vertical"></i>
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item d-inline-flex gap-3 align-items-center" href="{{ market.get_absolute_add_items_url }}"><i class="bi bi-plus-circle"></i> <span>Add Market Item</span></a></li>
                              <li><a class="dropdown-item d-inline-flex gap-3 align-items-center" href="{{ market.get_absolute_update_url }}"><i class="bi bi-pencil"></i> <span>Edit Market</span></a></li>
                              <li><a class="dropdown-item d-inline-flex gap-3 align-items-center" href="{% url 'market:market_create' %}"><i class="bi bi-shop"></i> <span>New Market</span></a></li>
                          </ul>
                        </div>
                </div>
            </div>
        </div>


        <div class="row my-5">
            {% for market_item in market_items %}
                <div class="col-md-6 col-lg-4 g-4">
                    <div class="card">
                          <img  height="300" src="{{ market_item.image.url }}" class="card-img-top" alt="{{ market_item.name }}" style="object-fit: cover; object-position: center;">
                          <div class="card-body">
                            <h5 class="card-title">{{ market_item.name }}</h5>
                            <p class="card-text">{{ market_item.description }}</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item" title="Unit Price">{{ market_item.price }}</li>
                            <li class="list-group-item" title="Quantity">{{ market_item.quantity }}</li>
                          </ul>
                          <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ market_item.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="{{ market_item.get_absolute_update_url }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                                <small class="text-body-secondary">{{ market_item.modified|timesince }}</small>
                            </div>
                          </div>
                        </div>
                </div>
            {% endfor %}

        </div>


    </div>

{% endblock %}